In [1]:
x = 50

if x <= 10:
    print("10 is less than 50")
elif x == 30:
    print("x is between 10 & 30")
elif x == 70:
    print("x is between 50 & 70")
else:
    print("x is equal to 50")

x is equal to 50

In [2]:
#odd or even code 
x = int(input("Enter a number: "))

if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number:  5

Odd

In [6]:
# Write a program , take a students score and assign a grade using If-elif-else grade  
score = int(input("Enter student's score: "))

if score >= 90:
    print("Grade: O")
elif score >= 80:
    print("Grade: A")
elif score >= 70:
    print("Grade: B")
elif score >= 60:
    print("Grade: C")
elif score >= 50:
    print("Grade: D")
elif score >= 35:
    print("Grade: E")
else:
    print("Grade: Fail")

Enter student's score:  22

Grade: Fail

In [8]:
# calculater using If-elif-else 
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Enter operation (+, -, *, /): ")

if op == "+":
    print(a + b)
elif op == "-":
    print(a - b)
elif op == "*":
    print(a * b)username = input("Enter your username: ")
age = int(input("Enter your age: "))

if username == "":
   print("Please enter a username!")
elif age >= 18:
   print(f"Welcome {username}! You are eligible to vote.")
elif age < 0:
   print("Please enter a valid age!")
else:
   years_left = 18 - age
   print(f"Sorry {username}, you cannot vote yet.")
   print(f"You can vote after {years_left} years.")

Enter first number:  23.55555555555555555
Enter second number:  5.444444444444444
Enter operation (+, -, *, /):  +

29.0

In [9]:
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote!")
else:
    print("Sorry, you are not eligible to vote yet.")

Enter your age:  13

Sorry, you are not eligible to vote yet.

Enter your username:  alok
Enter your age:  12

Sorry alok, you cannot vote yet.
You can vote after 6 years.

In [12]:
stored_username = "alok123"
stored_password = "alok123"

username = input("Enter username: ")
password = input("Enter password: ")

if username == stored_username and password == stored_password:
   print("Login successful! Welcome", username)
elif username != stored_username:
   print("Username is incorrect!")
elif password != stored_password:
   print("Password is incorrect!")
else:
   print("Both username and password are incorrect!")

Enter username:  alok123
Enter password:  alok123

Login successful! Welcome alok123

In [13]:
u = "alok123"
p = "alok123"
x = input("Enter username: ")
y = input("Enter password: ")

if x == u and y == p:
  print("Login successful! Welcome", x)
elif x != u:
  print("Username is incorrect!")
elif y != p:
  print("Password is incorrect!")
else:
  print("Both username and password are incorrect!")

Enter username:  alok123
Enter password:  alok123

Login successful! Welcome alok123

In [14]:
# prime number code 
n = int(input("Enter a number: "))
i = 2
f = 0

if n <= 1:
    print("Not a prime number")
else:
    while i < n:
        if n % i == 0:
            f = 1
            break
        i += 1
            
    if f == 0:
        print(n, "is a prime number")
    else:
        print(n, "is not a prime number")

Enter a number:  12

12 is not a prime number

In [ ]:
n = int(input("Enter a number: "))

if n <= 1:
    print(n, "is not a prime number")
else:
    is_prime = True
    
    for i in range(2, n):
        if n % i == 0:
            is_prime = False
            break

    if is_prime:
        print(n, "is a prime number")
    else:
        print(n, "is not a prime number")

In [ ]:

char = input("Enter a character: ")


if len(char) == 1:
    # Convert the character to lowercase to handle both uppercase and lowercase inputs
    char_lower = character.lower()
    
    # Check if the character is a vowel
    if char_lower in ['a', 'e', 'i', 'o', 'u']:
        print(f"'{character}' is a vowel.")
    else:
        print(f"'{character}' is not a vowel.")
else:
    print("Please enter a single character.")
numbers = [3, 7, 2, 9, 1, 5]  # Example list
max_num = numbers[0]  # Assume the first element is the max

for num in numbers:
    if num > max_num:  # Compare with the current max
        max_num = num  # Update max_num if a larger number is found

print("Maximum number:", max_num)

### LOOPS

In [64]:
# find max numeber in 1 to 10 without max word , without using inbuid function 
no = [3,7,2,5,4,9,11]
maxno = 0

for i in no:
    if i > maxno:
        maxno = i
print("Maximun numer:", maxno)

Maximun numer: 11

In [63]:
list1 = [3, 7, 2, 5, 4, 9]

for i in range(0,6): 
    if list1[i] <= list1[i + 1]: 
        max1 = list[i + 1]

print(max1)

IndexError: list index out of range

In [31]:
# sum of the list 
list1 = [3, 7, 2, 5, 4, 9]
total = 0 

for num in list1:  
    total += num 

print("Sum of the list:", total)

Sum of the list: 30

In [35]:

s = "racecar"


l=0
r=0

while s[r:]:
    r += 1

r -= 1

while l < r:
    if s[l] != s[r]:
        print(f"{s} is not a palindrome.")
        break
    l += 1
    r -= 1
else:
    print(f"{s} is a palindrome.")

racecar is a palindrome.

In [37]:
s = "madam"


if s == s[::-1]:
    print(f"{s} is a palindrome.")
else:
    print(f"{s} is not a palindrome.")

madam is a palindrome.

In [40]:
s = "racecar" 


if s == s[::-1]:
    print(f"{s} is a palindrome.")
else:
    print(f"{s} is not a palindrome.")

racecar is a palindrome.

In [50]:
lst = [3, 7, 2, 5, 4, 9, 11]
max_no = lst[0]
i = 0

while i < len(lst):
    if lst[i] > max_no:
        max_no = lst[i]
    i = i + 1

print("Maximum number:", max_no)

Maximum number: 11

In [51]:
lst = [3, 7, 2, 5, 4, 9, 11]
max_no = lst[0]
i = 0

while i < 7:
    if lst[i] > max_no:
        max_no = lst[i]
    i += 1

print("Maximum number:", max_no)

Maximum number: 11

In [53]:
num = 2
i = 1

while i <= 10:
    print( num * i)
    i += 1

2
4
6
8
10
12
14
16
18
20

In [54]:
i = 1
while i <= 10: print(2 * i); i += 1

2
4
6
8
10
12
14
16
18
20

In [55]:
print(5==5)

True

In [56]:
for i in range(3): print(i)

0
1
2

### Function in python

In [57]:
def zeal():
    print("Welcome to Zeal")
zeal()

Welcome to Zeal

In [58]:
# odd even in function
def O_E(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

num = int(input("Enter a number: "))
result = O_E(num)
print(f"The number {num} is {result}.")

Enter a number:  23

The number 23 is Odd.

In [59]:
def odd_even(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

# Example usage
num = int(input("Enter a number: "))
result = odd_even(num)
print("The number is:", result)

Enter a number:  34546

The number is: Even

In [61]:
#odd even using function in python  
def odd_even(n):
    if n % 2 == 0:
        print("Even")
    else:
        print("Odd")


num = int(input("Enter a number: "))
odd_even(num)

Enter a number:  23

Odd

In [62]:
#Sum of two number in python  
def sum_two_numbers(a, b):
    print(a + b)

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
sum_two_numbers(num1, num2)

Enter the first number:  12
Enter the second number:  12

24

In [67]:
# Max number by function 
def find_max(numbers):
    maxno = numbers[0]
    for i in numbers:
        if i > maxno:
            maxno = i
    return maxno

# Example usage
no = [3, 7, 2, 5, 4, 9, 11]
maximum_number = find_max(no)
print("Maximum number:", maximum_number)

UnboundLocalError: cannot access local variable 'maxno' where it is not associated with a value

In [69]:
def find_max(numbers):
    maxno = numbers[0]
    for i in numbers:
        if i > maxno:
            maxno = i
    return maxno

no = [3, 7, 2, 5, 4, 9, 11,999,2434,45,98765432]
print("Maximum number:", find_max(no))

Maximum number: 98765432

In [70]:
def find_max(a, b, c):
    maxno = a
    if b > maxno:
        maxno = b
    if c > maxno:
        maxno = c
    return maxno

# Example usage
a = 3
b = 7
c = 11
print("Maximum number:", find_max(a, b, c))

Maximum number: 11

In [71]:
def factorial(n, result=1):
        factorial(n - 1, result * n)

factorial(3)

RecursionError: maximum recursion depth exceeded

In [85]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

n = int(input("Enter a number: "))
print(f"Factorial of {n} is {factorial(n)}")

Enter a number:  3

Factorial of 3 is 6

In [ ]:
def factorial(n, result=1):
    if n == 0 or n == 1:  
        print("Factorial:", result)
    else:
        factorial(n - 1, result * n)  

factorial(3)